.App {
  text-align: center;
}
.black-nav{
  display:flex;
  background:black;
  width: 100%;
  height: 70px;
  color: white;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Modal{
  
  width: 100px;
  bottom: 40px;
  margin: 10px;
  padding: 15px;
  text-align: left;
  color: aqua;
  font-weight: bolder;
}

.newjinse1{
  display: flex;
}

.aist {
    width:30%;
    float : left;  
}
.jinse{
  width: 120px;
  height: 80px;
  margin-top: 5%;  
}

.new {
  width: 50px;
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.s1 {
  margin-right: 10px;
  background-color: Tomato;
  font-size: 20px;
  right: 670px;
}

.s2 {
  margin-right: 10px;
  background-color: SlateBlue;
  font-size: 20px;
  right: 670px;
}
.s3 {
  background-color:chartreuse ;
  margin-right: 10px;
  font-size: 20px;
  right: 670px;
}

.s4 {
  background-color:rgb(152, 173, 57) ;
  margin-right: 10px;
  font-size: 20px;
  right: 670px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
